body {
    font-size: 1.2rem;
    font-family: 'Serif';
    overflow: hidden;
}

.main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.click-here h1 {
    cursor: pointer;
    color: azure;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 0 2px;
    font-size: 2rem;
    text-align: center;
    margin-top: 350px;
    scale: 0.9;
}

.click-here h1:hover {
    transition: 0.2s ease;
    scale: 1;
}

.box {
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
    min-height: 550px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 40px;
    /* display: flex; */
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
    transform: 0.5s ease;
}

.date {
    max-width: 400px;
    min-height: 50px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 30px;
    margin: auto;
    margin-top: -20px;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.date button {
    font-family: serif;
    font-size: 1.3rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: azure;
    background: transparent;
    transition: 0.2s ease;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
}

.date button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.1;
    backdrop-filter: blur(10px);
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img {
    min-width: 100px;
    min-height: 150px;
    border-radius: 10px;
    overflow: hidden;
    scale: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transform: 0.5s ease;
    opacity: 0;
    /* transition: opacity 0.5s ease; */
}

.img.show {
    opacity: 1;
}

.img:hover {
    scale: 1.05;
}

@media (min-width: 600px) {
    .body {
        font-size: 12px;
    }

    .main::before {
        background-size: cover;
    }
}